<?xml version="1.0"?>

<config>
  <section name="sender.plugin">
    <!--<param name="deploy.url" type="string">DEPLOY_URL/sads-sender</param>-->
    <param name="deploy.url" type="string">http://plugins.miniapps.run/sender-plugin</param>
    <param name="profile.storage.api.url" type="string">http:///wstorage/v2/profile</param>
    <param name="push.api.url" type="string">http://devel.globalussd.mobi/push</param>

    <section name="api.client">
      <param name="api.client.connectTimeout.millis">30000</param>
      <param name="api.client.requestTimeout.millis">30000</param>
    </section>

  </section>
</config>